.AdminsPage,
.AddAdminPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.AddAdminPage {
    row-gap: 15px;
}

.allAdmins {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}