.UsersPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.sortAndActions {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.allUsers {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.viewUser {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 335px;
}

.editAndCloseBtn {
    display: flex;
    column-gap: 20px;
}

.editFields1 .viewUser input,
.editFields1 .viewUser select,
.editFields1 .viewUser textarea {
    padding: 0.5rem 1rem;
    font-size: 18px;
}